{
    "extends": "rgui",
    "env": {
        "browser": true,
        "commonjs": true,
        "node": true,
    },
    "globals": {
        "bridge": true,
        "chrome": true,
        "localStorage": true
    }
}
